<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="REFRESH" content="0; url=https://photos.app.goo.gl/i9gh8Qr6g36nuqXg9">
    <link rel="icon" href="assets/cere.png">
    <meta property="og:title" content="balca'm" />
    <meta property="og:image" content="https://balca.online/assets/cere.png" />

    <style>
        body {
            margin: 0;
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas id='canv'></canvas>
    <h1>Should automatically redirect to google photos</h1>
    <br>
    <h2>Otherwise, click the link below</h2>
    <a href="https://photos.app.goo.gl/i9gh8Qr6g36nuqXg9">https://photos.app.goo.gl/i9gh8Qr6g36nuqXg9</a>
</body>
