<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.png">

    <meta property="og:title" content="balca'm" />
    <meta property="og:image" content="https://balca.online/assets/favicon.png" />

    <style>
        body {
            margin: 0;
            /* padding: 0; */
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas id='canv'></canvas>
    <script src="script.js"></script>
</body>
