<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.png">

    <meta property="og:title" content="balca'm" />
    <meta property="og:image" content="https://balca.online/assets/favicon.png" />


    <style>
        body {
            margin: 0;
            /* padding: 0; */
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas id='canv'></canvas>
    <script>
        const speed = 15
        let canvas
        let ctx
        var idx = 0;
        const Y_START = 90;

        function b64DecodeUnicode(str) {
            // Going backwards: from bytestream, to percent-encoding, to original string.
            return decodeURIComponent(atob(str).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
        }

        var messages_enc = [
            'YXNraW1tbW1tbW0g8J+YjfCfmI3wn5iN8J+YjQ==',
            'c2FuYSBtZXNhaiB5YXptYWsgaXN0aXlvcnVt',
            'dMO8cmvDp2Ugb2xhcmFr',
            'YnV0IGkgYW0gc3RpbGwgd29ya2luZyBvbiBpdA==',
            'eWVyaW0g8J+YmA=='
        ]

        var messages = messages_enc.map((val) => {
            val_ = b64DecodeUnicode(val);
            return {
                src: val_,
                x: -50 * val_.length,
                y: Y_START,
                xdirection: 1,
                xspeed: 10,
                y_shift: 50,
                started: false
            }
        })



        function main() {
            canvas = document.getElementById('canv')
            canvas.width = window.innerWidth
            canvas.height = window.innerHeight
            ctx = canvas.getContext('2d')
            ctx.font = '100px sans-serif'

            curr_message = messages[idx]
            update()
        }


        function update() {
            setTimeout(() => {
                ctx.fillStyle = 'white'
                ctx.fillRect(0, 0, canvas.width, canvas.height)

                ctx.fillStyle = 'black'
                if (idx > messages.length - 1) {
                    return
                }

                curr_message = messages[idx]
                movement()
                ctx.fillText(curr_message.src, curr_message.x, curr_message.y)
                update()


            }, speed)
        }

        function movement() {
            curr_message = messages[idx]

            if (curr_message.x > canvas.width && curr_message.y > canvas.height) {
                ++idx;
                return;
            }

            if (curr_message.x > canvas.width) {
                curr_message.xdirection = -1
                curr_message.y += curr_message.y_shift
            }

            if (curr_message.x < 0 - ctx.measureText(curr_message.src).width) {
                curr_message.xdirection = 1
                curr_message.y += curr_message.y_shift
            }


            curr_message.x += curr_message.xspeed * curr_message.xdirection
            curr_message.xspeed += 0.05
        }

        main()
    </script>
</body>